.select2-container .select2-selection--single
    border-radius: 8px !important
    background: #f4f4f4 !important
    border: 1px solid var(--border) !important
    font-size: 16px !important
    box-sizing: border-box !important
    color: black !important
    height: 50px !important

.select2-container .select2-selection--multiple
    background: none !important
    border: none !important
    font-size: 24px !important
    box-sizing: border-box !important
    color: black !important
    min-height: 50px !important

.select2-container--admin-autocomplete .select2-results > .select2-results__options
    background: white !important
    color: black !important
    border: 1px solid black !important

.select2-container--admin-autocomplete .select2-results > .select2-results__options li
    font-weight: 300 !important
    font-size: 1rem !important

.select2-container--admin-autocomplete .select2-results__option--highlighted[aria-selected]
    background: var(--principal-color) !important

.select2-container--admin-autocomplete .select2-search--dropdown .select2-search__field
    background: white !important

.select2-container--admin-autocomplete .select2-search--dropdown .select2-search__field
    color: var(--body-fg) !important
    border: none !important
    padding: 10px !important

.select2-search--dropdown
    display: block !important
    border: 1px solid black !important

.select2-dropdown
    border: none !important

.select2-container--admin-autocomplete .select2-search--dropdown
    background: none !important

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__choice__remove
    color: red !important
    font-size: 1rem !important
    margin-right: .5rem !important

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__choice
    background: #FADEA0 !important
    font-size: 1rem !important
    padding: 0.25rem 0.5rem !important
    border: none !important
    border-radius: 8px !important

.select2-container .select2-selection--single .select2-selection__rendered
    line-height: 50px !important
    padding-left: 1rem !important
    color: black !important

.select2-container .select2-selection--single .select2-selection__arrow
    height: 50px !important

.select2-container .select2-selection--single .select2-selection__arrow b
    display: none !important

.select2-container .select2-selection--single .select2-selection__arrow
    right: 10px !important
    display: flex !important
    align-items: center !important
    justify-content: center !important

.select2-container .select2-selection--single .select2-selection__arrow b
    display: none !important

.select2-container .select2-selection--single .select2-selection__arrow::after
    font-family: var(--fontawesome-font), sans-serif !important
    content: "\f078" !important
    font-size: 24px !important
    color: var(--secondary-color) !important
    transition: transform 0.2s !important

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__rendered
    padding: 0 !important

.select2-selection__clear
    padding: 0 15px !important
    display: none !important

select
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none
    padding-right: 30px
    padding-left: 1rem !important
    border-radius: 8px !important
    background: var(--background-input)
    border: 1px solid var(--border) !important
    box-sizing: border-box !important
    color: #000 !important
    height: 50px !important
    font-size: 16px !important

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath d='M320.3 493.3L534.9 278.7L557.5 256.1L512.2 210.8L489.6 233.4L320.2 402.8L150.8 233.4L128.2 210.8L82.9 256.1L105.5 278.7L297.5 470.7L320.1 493.3z' fill='black'/%3E%3C/svg%3E")
    background-repeat: no-repeat
    background-position: right 10px center
    background-size: 28px
