@use '../settings/variables'

.o-header
    padding: 1.6rem 1rem
    text-align: center
    color: black
    &--blue
        background-color: var(--pastel-blue)
.o-container
    max-width: variables.$max-width-container
    padding: variables.$spacing variables.$spacing-s
    margin: 0 auto
    flex: 1
    &--principal
        display: grid
        grid-template-columns: 280px  calc(100% - 280px)
        gap: 5px
        & section
            h1
                padding: 0
                margin: 0
        & aside
            padding: 0 16px
            & p
                font-weight: 300
            & ul
                list-style: none
                margin: 0
                padding: 0
                & li
                    padding: .5rem
                    font-size: 1rem
                    &.active
                        background-color: var(--secondary-color)
                        & a
                            color: white
                    & i
                        margin-right: 8px
                    & a
                        display: flex
                        & span
                            display: block
                            margin-right: .4rem

.b-container
    display: grid
    grid-template-columns: 240px auto
    height: 100%
    & .content
        padding: 0 1.5rem
    & aside
        background: white
        height: 100%
        & .logo
            padding: 2rem 3rem
            & svg
                width: 10rem

.main
    aside
        background: white
        & .logo
            padding: 2rem 3rem
            & svg
                width: 10rem

.content-admin-book
    background: white !important
    border-radius: 1rem
    padding: 1.90rem
    & .form-row
        border: none !important

table
    & th, & td
        padding: 10px !important
        font-size: 1rem !important
        font-weight: normal !important

.flex
    &--space
        display: flex
        justify-content: space-between
        align-items: center

.grid
    &--middle-view
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 1rem

