div
    &.breadcrumbs
        color: var(--red-duma)
        background-color: var(--secondary-color) !important
        padding: 10px 15px
        & a
            color: white
            &:hover
                color: var(--red-duma)
