.paginator
    border-bottom: none !important
    border-top: none !important
    background: transparent !important
    display: flex
    align-items: center
    justify-content: center
    gap: 8px
    margin: 30px auto
    & a, & span
        display: grid
        width: 40px
        height: 40px
        border-radius: 8px
        background-color: var(--secondary-color)
        justify-content: center
        align-items: center
        padding: 0 !important
        &.actived
            background-color: var(--principal-color)
    & a
        &:hover
            background-color: #1A2D3C

