@use '../settings/variables'


.btn
    border-radius: variables.$border-button
    display: inline-block
    padding: .4rem 1rem
    border: none
    cursor: pointer
    font-size: variables.$font-size-button
