.breadcrumb
    list-style: none
    margin-bottom: 20px
    & li
        display: inline
        color: white
        margin: .5rem
        &:first-child
            margin-left: 0

.book
    &--breadcrumb
        & a, & span
            font-optical-sizing: auto
            font-weight: 700
            font-style: normal
            font-size: 1rem
        & a
            color: var(--text-breadcrumb)
        & span
            color: black
        & i
            color: var(--principal-color)
            margin: 0 5px


div
    &.breadcrumbs
        color: var(--red-duma)
        background-color: white !important
        padding: 10px 15px
        & a
            color: var(--secondary-color)
            &:hover
                color: var(--red-duma)
