.filter
    &--items
        display: flex
        height: 36px
    &--input
        width: 180px !important
        border: 1px solid var(--border) !important
        padding: .5rem !important
        outline: none !important
        margin-right: 1rem !important
        border-radius: 10px !important
        background: transparent !important
        color: black !important
        &:focus
            border: 1px solid var(--principal-color) !important
