.label
    min-width: 0
    height: 18px
    border-radius: 3px
    padding-left: 6px
    padding-right: 6px
    font-size: 14px
    line-height: 120%
    color: rgb(55, 53, 47)
    margin: 0 6px 6px 0
    &--purple
        background-color: var(--pastel-purple)
    &--brown
        background-color: var(--pastel-brown)
    &--red
        background-color: var(--pastel-red)
    &--blue
        background-color: var(--pastel-blue)
    &--yellow
        background-color: var(--pastel-yellow)
    &--green
        background-color: var(--pastel-green)
    &--pink
        background-color: var(--pastel-pink)
    &--orange
        background-color: var(--pastel-orange)
    &--gray
        background-color: var(--pastel-gray)
