@import 'colores'

$maximo_cuadriculas: 16

$queries: ("mo": 0, "ta": 48, "por": 65, "es": 75)

$porcentaje_borde_alerta: 25%

$colores_alertas: (azul: (color_texto: black, fondo: $azul-500),
azul-claro: (color_texto: black, fondo: $azul-claro-300),
cian: (color_texto: black, fondo: $cian-400),
oscuro: (color_texto: white, fondo: $oscuro),
rojo: (color_texto: black, fondo: $rojo-500),
rosa: (color_texto: black, fondo: $rosa-400),
indigo: (color_texto: black, fondo: $indigo-a100),
amarillo: (color_texto: darken($amarillo, 35%), fondo: $amarillo),
verde: (color_texto: black, fondo: $verde),
limon: (color_texto: black, fondo: $limon-a200),
marron: (color_texto: black, fondo: $marron-300),
verde-azulado: (color_texto: black, fondo: $verde-azulado-a100),
morado: (color_texto: black, fondo: $morado-400),
purpura: (color_texto: black, fondo: $purpura-400),
gris: (color_texto: black, fondo: $gris),
naranja: (color_texto: black, fondo: $naranja))