@import 'colores'

$maximo_cuadriculas: 16

$queries: ("mo": 0, "ta": 48, "por": 65, "es": 75)

$porcentaje_borde_alerta: 45%

$colores_alertas: (azul: (color_texto: black, fondo: $azul-500, fondo_icono: $azul-500),
azul-claro: (color_texto: black, fondo: $azul-claro-300, fondo_icono: $azul-500),
cian: (color_texto: black, fondo: $cian-400, fondo_icono: $cian-400),
oscuro: (color_texto: white, fondo: $oscuro, fondo_icono: $oscuro),
rojo: (color_texto: black, fondo: $rojo-500, fondo_icono: $rojo-500),
rosa: (color_texto: black, fondo: $rosa-400, fondo_icono: $rosa-400),
indigo: (color_texto: black, fondo: $indigo-a100, fondo_icono: $indigo-a100),
amarillo: (color_texto: black, fondo: $amarillo-100, fondo_icono: $amarillo-400),
verde: (color_texto: black, fondo: $verde, fondo_icono: $verde),
limon: (color_texto: black, fondo: $limon-a200, fondo_icono: $limon-a200),
marron: (color_texto: black, fondo: $marron-300, fondo_icono: $marron-300),
verde-azulado: (color_texto: black, fondo: $verde-azulado-a100, fondo_icono: $verde-azulado-a100),
morado: (color_texto: black, fondo: $morado-400, fondo_icono: $morado-400),
purpura: (color_texto: black, fondo: $purpura-400, fondo_icono: $purpura-400),
gris: (color_texto: black, fondo: $gris, fondo_icono: $gris),
naranja: (color_texto: black, fondo: $naranja, fondo_icono: $naranja))