.contact
    display: grid
    grid-template-columns: repeat(2, 1fr)
    &--info
        display: grid
        align-content: center
        align-items: center
        & svg
            width: 80%
    &--form
        list-style: none
        & li
            display: grid
            grid-template-columns: 120px calc(100% - 120px)
            margin-bottom: 10px
        & input, textarea
            padding: 5px
        & textarea
            resize: none
        & .buttons
            display: flex
            flex-direction: row-reverse
            margin-bottom: 1.5rem
.thin
    &--dumasoft
        & input, textarea
            width: 100%
            box-sizing: border-box
            border: 1px solid #ccc
            padding: 5px
            margin-top: 5px
            outline: 0
            color: #373a36
            font-weight: 200
            font-size: .9rem
            &:focus
                border: 1px solid var(--principal-color)
        & textarea
            resize: none
        & input
            height: 36px
        & p
            & label
                font-size: 1.2rem
                font-family: "nasalization", sans-serif
                text-transform: lowercase

@media screen and (max-width: 47.5rem)
    .contact
        grid-template-columns: 1fr
        &--info
            display: none
        &--form
            & li
                grid-template-columns: 1fr
                & label
                    margin-bottom: .7rem
