.dashboard
    &--kpis
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 10px
    &--charts
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 10px
    &--item
        padding: 10px
        border-radius: 5px
        border: 1px solid #eff2f5
        margin-bottom: 10px
        & ul
            list-style: none
            padding: 0
            & li
                list-style: none
                border-left: 4px solid black
                margin: 10px 0
                padding: 5px 10px
                display: grid
                grid-template-columns: 35px calc(100% - 35px)
                &.none
                    border-color: var(--dashboard-grey)
                &.low
                    border-color: var(--dashboard-blue)
                &.medium
                    border-color: var(--dashboard-green)
                &.important
                    border-color: var(--dashboard-yellow)
                &.urgent
                    border-color: var(--dashboard-purple)
        &.normal
            background-color: #fff
        &.green
            background-color: var(--pastel-green)
        &.yellow
            background-color: var(--pastel-yellow)
        &.violet
            background-color: var(--pastel-purple)
        &.blue
            background-color: var(--pastel-blue)
        & .option-buttons-map
            display: flex
            justify-content: flex-end
            & button
                margin: 5px
                &:last-child
                    margin-right: 0
        & .map
            width: 100%
            height: 450px
    &--resume
        display: grid
        grid-template-columns: 280px auto
        margin-bottom: 2rem
    &--resume
        h1
            font-size: 1.5rem
            margin: 0
        h2
            font-size: .75rem
            font-weight: 700
        & svg
            width: 340px
        & .resume
            background: white
            border-radius: 20px
            padding: 2rem

