.footer
    max-width: 71.25rem
    padding: 1.6rem 1rem
    margin: 0 auto
    border-top: 1px solid var(--border-footer)
    font-weight: 200
    font-size: .8rem
    & span
        display: block
    &--dumasoft
        display: grid
        grid-template-columns: repeat(5,  1fr)
        & .copyright
            color: var(--red-duma)
        & p
            font-size: .8rem
    &--copyright
        display: grid
        grid-template-columns: 55px 100px
        line-height: 20px
        font-weight: 200
        font-size: .8rem
    & svg
        width: 5.25rem
        & .simbol--dog,
        & .simbol--soft
            fill: var(--simbol-footer)
            fill-rule: nonzero
        & .simbol--duma
            fill: var(--secondary-color)
            fill-rule: nonzero

    & i
        &.copyright
            color: var(--red-duma)
