.profile
    & .fa-infinity
        color: var(--principal-color)
    &--icon
        background: var(--secondary-color)
        color: white
        padding: 10px
        width: 20px
        text-align: center
    &--info
        margin-bottom: 10px
        display: grid
        grid-gap: 1rem
        grid-template-columns: 40px calc(100% - 40px - 1rem)
        align-items: center
        font-weight: 100
    &--content
        display: grid
        grid-template-columns: 300px calc(100% - 300px)
    .profile--header
        padding: 0 0 30px 0

.image-profile
    display: block
    text-align: left
    & img
        width: 280px
        height: 280px
        object-fit: cover
        object-position: center center

.upload-file-label
    width: 280px
    box-sizing: border-box

.button-upload-image
    width: 280px
    & .btn
        width: 280px
