@font-face
    font-family: "nunito-regular"
    src: url("../fonts/NunitoSans-Regular.ttf")

@font-face
    font-family: "nunito-bold"
    src: url("../fonts/NunitoSans-Bold.ttf")

@font-face
    font-family: "Nasalization"
    src: url("../fonts/nasalization.ttf")

html, body
    font-family: var(--regular-font), sans-serif
h1
    font-size: 35px
    color: var(--secondary-color)
h2
    font-size: 24px !important
p
    font-size: 1.125rem
h2, p
    font-family: var(--regular-font), sans-serif
    & b
        font-family: var(--bold-font), sans-serif

span
    &.date, &.language
        color: var(--principal-color)

.module
    & label
        font-size: 24px
        color: black
        margin-bottom: .5rem
        font-family: var(--bold-font), sans-serif
        &.required
            color: var(--principal-color)

.module
    background: transparent
a.btn--primary
    color: #fff
a:hover.btn--primary
    color: #373a36
#branding h1, #branding h1 a:link, #branding h1 a:visited
    color: #fff
#branding h1, #branding h1 a:hover
    color: #373a36
#header a:link, #header a:visited
    color: #fff
    text-decoration: none
#header a:hover
    color: #373a36
#user-tools a
    border: none
div.breadcrumbs
    background-color: #373a36
.button, input[type=submit], input[type=button], .submit-row input, a.button
    background-color: #373a36
.submit-row input:hover
    background-color: #1e201d
input:focus-visible
    outline-color: #4889ff
.sticky.toggle-nav-sidebar
    background-color: #373a36
    color: #fff
td.original p
    display: none
.inline-group .tabular tr.has_original td
    padding-top: 0 !important

[type=checkbox]:not(:checked)+label,
[type=checkbox]:checked+label
    font-size: 1.2rem !important
