@import '../utiles/variables'
@import '../utiles/mixins'

.alerta
    border-radius: .25rem
    display: flex
    align-items: center
    & .icono
        display: block
        float: left
        padding: 1rem 1.25rem
        margin-bottom: 0
        margin-right: 10px
        box-sizing: border-box

@each $clave, $valor in $colores
    +fondo_color_borde($clave, nth($valor, 1), nth($valor, 2), $porcentaje_borde_alerta, nth($valor, 3))
