@import '../utiles/variables'
@import '../utiles/mixins'

.alerta
    border-radius: .25rem
    display: flex
    align-items: center
    & .icono
        display: block
        float: left
        padding: 1rem 1.25rem
        margin-bottom: 0
        margin-right: 10px
        box-sizing: border-box

@each $clave, $valor in $colores_alertas
    +fondo_color_borde($clave, map_get($valor, fondo), map_get($valor, color_texto), $porcentaje_borde_alerta, map_get($valor, fondo_icono))
